.search-button {
	margin-left: 15px;
}

.returned-image {
	height: 200px;
	width: 300px;
}

.start-stop-button,
.copy-button {
	margin: 10px;
}

#giphy-plugin-trigger {
	background-image: url('../images/buttonGiphyLogo.png');
	background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	height: 25px;
    width: 45px;
}
